<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kilimobora Smart Farm System</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
   <header>
       <nav id="navbar">
           <h3>Kilimobora</h3>
           <ul class="navlinks">
               <li class="navlink">
                   <a href="/">Home</a>
               </li>
               <li class="navlink">
                   <a href="/api/v1/visualize">Visualization</a>
               </li>
               <li class="navlink">
                   <a href="/dashboard">Dashboard</a>
               </li>
           </ul>
       </nav>
   </header>
   <section id="hero">
       <h3>Kilimobora Smart Farming System</h3>
<!--       <p>A smart and data driven way of farming. Minimize loss and effort and increase yield</p>-->

   </section>

</body>
</html>